PROG6 - Tamagotchi/ASP/Service References/TamagotchiService/TamagotchiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TamagotchiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITamagotchiService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Enum" />
      <xsd:import schemaLocation="http://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF.Service" />
      <xsd:import schemaLocation="http://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITamagotchiService_ActiveGameRules_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveGameRules" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_ActiveGameRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveGameRulesResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_ToggleRule_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleRule" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_ToggleRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleRuleResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetCurrentTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetCurrentTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_SwitchTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_SwitchTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DismissTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:DismissTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DismissTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DismissTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetCurrentAction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentAction" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetCurrentAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentActionResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DoAction_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAction" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DoAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoActionResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_IsCurrentlyRunningAnAction_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCurrentlyRunningAnAction" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_IsCurrentlyRunningAnAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCurrentlyRunningAnActionResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CreateTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CreateTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetAllTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetAllTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DeleteTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DeleteTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_UpdateTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_UpdateTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTamagotchiResponse" />
  </wsdl:message>
  <wsdl:portType name="ITamagotchiService">
    <wsdl:operation name="ActiveGameRules">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/ActiveGameRules" message="tns:ITamagotchiService_ActiveGameRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/ActiveGameRulesResponse" message="tns:ITamagotchiService_ActiveGameRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/ToggleRule" message="tns:ITamagotchiService_ToggleRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/ToggleRuleResponse" message="tns:ITamagotchiService_ToggleRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetCurrentTamagotchi" message="tns:ITamagotchiService_GetCurrentTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetCurrentTamagotchiResponse" message="tns:ITamagotchiService_GetCurrentTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/SwitchTamagotchi" message="tns:ITamagotchiService_SwitchTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/SwitchTamagotchiResponse" message="tns:ITamagotchiService_SwitchTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DismissTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/DismissTamagotchi" message="tns:ITamagotchiService_DismissTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/DismissTamagotchiResponse" message="tns:ITamagotchiService_DismissTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetCurrentAction" message="tns:ITamagotchiService_GetCurrentAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetCurrentActionResponse" message="tns:ITamagotchiService_GetCurrentAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/DoAction" message="tns:ITamagotchiService_DoAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/DoActionResponse" message="tns:ITamagotchiService_DoAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCurrentlyRunningAnAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/IsCurrentlyRunningAnAction" message="tns:ITamagotchiService_IsCurrentlyRunningAnAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/IsCurrentlyRunningAnActionResponse" message="tns:ITamagotchiService_IsCurrentlyRunningAnAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/CreateTamagotchi" message="tns:ITamagotchiService_CreateTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/CreateTamagotchiResponse" message="tns:ITamagotchiService_CreateTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetAllTamagotchi" message="tns:ITamagotchiService_GetAllTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetAllTamagotchiResponse" message="tns:ITamagotchiService_GetAllTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetTamagotchi" message="tns:ITamagotchiService_GetTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetTamagotchiResponse" message="tns:ITamagotchiService_GetTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/DeleteTamagotchi" message="tns:ITamagotchiService_DeleteTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/DeleteTamagotchiResponse" message="tns:ITamagotchiService_DeleteTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/UpdateTamagotchi" message="tns:ITamagotchiService_UpdateTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/UpdateTamagotchiResponse" message="tns:ITamagotchiService_UpdateTamagotchi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITamagotchiService" type="tns:ITamagotchiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActiveGameRules">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/ActiveGameRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleRule">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/ToggleRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetCurrentTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SwitchTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/SwitchTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DismissTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DismissTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetCurrentAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DoAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCurrentlyRunningAnAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/IsCurrentlyRunningAnAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CreateTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetAllTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DeleteTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/UpdateTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITamagotchiService" type="tns:ITamagotchiService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITamagotchiService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActiveGameRules">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/ActiveGameRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleRule">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/ToggleRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetCurrentTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SwitchTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/SwitchTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DismissTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DismissTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetCurrentAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DoAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCurrentlyRunningAnAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/IsCurrentlyRunningAnAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CreateTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetAllTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DeleteTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/UpdateTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TamagotchiService">
    <wsdl:port name="BasicHttpBinding_ITamagotchiService" binding="tns:BasicHttpBinding_ITamagotchiService">
      <soap:address location="http://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITamagotchiService" binding="tns:BasicHttpsBinding_ITamagotchiService">
      <soap:address location="https://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>