PROG6 - Tamagotchi/ASP/Service References/TamagotchiService/TamagotchiService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1655/Service/TamagotchiService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Tamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Boredom" type="xs:int" />
      <xs:element minOccurs="0" name="Deceased" type="xs:boolean" />
      <xs:element minOccurs="0" name="Health" type="xs:int" />
      <xs:element minOccurs="0" name="Hunger" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sleep" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Statuses" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
  <xs:complexType name="ArrayOfTamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTamagotchi" nillable="true" type="tns:ArrayOfTamagotchi" />
</xs:schema>